@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

pre, code {
    font-family: 'Source Code Pro', monospace !important;
    @apply text-xl;
}

a, button {
    @apply cursor-pointer;
}

.login-input:invalid .login-input-span {
    @apply bg-red-500
}

.autofill-transparent:-webkit-autofill,
.autofill-transparent:-webkit-autofill:hover,
.autofill-transparent:-webkit-autofill:focus,
.autofill-transparent:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

.flex-full {
    flex: 0 0 auto;
}
